{% extends 'admin/master.html' %}
{% block body %}
  {% for log in logs %}
    {{ log.id }},
    {{ log.project.name }},
    {{ log.user.name }},
    From <b>{{ log.start }}</b> to <b>{{ log.end }}</b>,
    {{ log.description }}
    <br>
  {% endfor %}
{% endblock %}