{% extends 'admin/master.html' %}

{% block body %}
<p>Hello, welcome to use task list!</p>
<h3>Steps</h3>
<ol>
    <li>Add <a href="./user/">User</a></li>
    <li>Add <a href="./project/">Project</a></li>
    <li>Add <a href="./weeklog/">WeekLog</a></li>
</ol>
{% endblock %}